# Media directories on remote machines of the following form:
#
#   <SSH connection string><absolute_path_to_media_directory>
#
# Multiple media directories can be set with a comma (,) as delimiter.
# Spaces must be escaped with a backslash (\).
# Media directories are queried and played in order.
# If <SSH connection string> is not set, 'localhost' is used.
#
# Examples:
#   /home/alice/videos
#   remote-machine/home/alice/music
#   bob@another-machine/media/movies,bob@10.0.0.1/home/bob/series
media_directories=""

# Directory which contains the saved playback positions of the following form:
#
#   <SSH connection string><absolute_path_to_media_directory>
#
# It is synchronized with the local ~/.cache/strm directory before and after playing files.
# If it is not set, the mpv resume playback functionality is not enabled by default.
# If <SSH connection string> is not set, 'localhost' is used.
#
# Examples:
#   /home/alice/.strm
#   remote-machine/home/alice/strm
#   bob@another-machine/home/bob/strm
playback_directory=""

# Ignored filenames as comma separated list.
# This can be glob patterns and matching is done case-insensitive.
# 
# Examples:
#   cover.jpg
#   *.jpg,*.png
ignore_files=""