# Media directories on remote machines of the following form:
#
#   <SSH connection string><absolute_path_to_media_directory>
#
# Multiple media directories can be set with a comma (,) as delimiter.
#
# Examples:
#   localhost/home/bob/videos
#   remote-machine/home/bob/music
#   bob@another-machine/media/movies,bob@10.0.0.1/home/bob/series
media_directories=""